if SHIELD_NuLu_L || SHIELD_NuLu_R
    config ZMK_SPLIT
        default y

    config ZMK_SLEEP
        default y
endif

if SHIELD_NuLu_L
    config ZMK_KEYBOARD_NAME
        default "NuLu_L"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_NuLu_R
    config ZMK_KEYBOARD_NAME
        default "NuLu_R"
endif
