if SHIELD_NULU_L || SHIELD_NULU_R
    config ZMK_SPLIT
        default y

    config ZMK_BLE
        default y

    config ZMK_SLEEP
        default y
endif

if SHIELD_NULU_L
    config ZMK_KEYBOARD_NAME
        default "NuLu_L"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_NULU_R
    config ZMK_KEYBOARD_NAME
        default "NuLu_R"
endif
