if SHIELD_Conv_L

config ZMK_KEYBOARD_NAME
    default "Conv"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Conv_L || SHIELD_Conv_R

config ZMK_SPLIT
    default y

config ZMK_SLEEP
    default y

config ZMK_POINTING
    default y

config ZMK_POINTING_SMOOTH_SCROLLING
    default n

config SPI
    default y

config INPUT
    default y

config INPUT_PMW3610
    default y

endif
