name: Build Conv
on: [workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      build_matrix_path: build-Conv.yaml   # ← A用ビルドリスト
      config_path: .           # ← A用設定フォルダ